<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>LocalWallApp</title>

<link rel="stylesheet" type="text/css" href="{{baseurl}}global/css/style.css" />
</head>

<body id="home-page">
	<div id="header">
    
    </div>
    <div id="logo">
    <a href="#"><img src="{{baseurl}}global/img/logo.png" /></a>
    </div>
    <div id="home-tagline">
    A place to share events around you...
    </div>
    <div id="zipcode-box">
    	<center><div id="zip-wrapper">
        	<h2 style="text-align:left; margin-left:15px;">Let's Begin</h2>
        	<form action="next" method="POST" accept-charset="utf-8">
               <div>
                   <input type="text" value="YOUR AWESOME ZIP" maxlength="5" class="input" onfocus="if(this.value == 'YOUR AWESOME ZIP') { this.value = ''; }" style="border:none;" name="zipcode" />
               </div>
                <div class="spacer"></div>
                <div style="width:90px; padding-left:180px; text-align:left;"><input type="submit" value="SEARCH" class="zipcode-submit" /></div>
        	</form>
        </div></center>
    </div>
    


</body>
</html>
